kl/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "Cambria";

@font-face{
 font-family: "Cambria";
 src: url(../web-tipo/cambria.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

*{
  color: orangered;
	font-family: Cambria;
}

a:hover{
	background-color: orangered;
	transition: background-color .3s;
	color: white;
}

body{
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
}


div.billion ol{
	padding-left: 50px;
}

div.index{
	width: 40%;
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
	body{
		margin-top: 30px;
		margin-left: 350px;
		margin-right: 350px;
		margin-bottom: 30px;
	}

	#end{
		font-size: 18px;
		margin-top: 10px;
		bottom: 0px;
		right: 0px;
	}

	div.billion ol{
		padding-left: 100px;
	}
}

@media screen and (min-width: 1050px) and (max-width: 1200px) and (orientation: landscape) {
	body{
		margin-top: 30px;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 30px;
	}

	#end{
		font-size: 18px;
		margin-top: 10px;
		bottom: 0px;
		right: 0px;
	}

	div.billion ol{
		padding-left: 80px;
	}
}


em{
	font-style: italic;
	padding: 5px;

}

.title{
  font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1{
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2{
	font-size: 25px;
	padding-top: 8px;
	padding-bottom: 4px;
}

h3{
	font-size: 18px;
	padding-bottom: 5px;
}

img{

	max-width: 100%;
	max-height: 100%;
}

video{
	max-width: 100%;
	max-height: 100%;
}

.index{
margin-left: 20px;
}

.horari{
	height: 50%;
	border-radius: 100%;
	background-color: rgba(255, 0, 0, 0.1);
}

#border{
	border: 2px solid orangered;
	border-image: url("images/Think.png"); 4 4 stretch:

}

.audio{
	border: 2px solid orangered;
	margin-left: 300px;

}

div.billion{
	padding: 10px;
	border: 2px dashed orangered;
}

div.class ol{
	padding-top: 10px;
	list-style-type: disc;
}

div.class ol.il{
	padding-top: 5px;
	list-style-type: disc;
}

div.index{
	padding-left: 20px;
}

div.index h3{
	padding-top: 3px;
}

div.web{
	padding: 10px;
	border: 1px dashed orangered;
	font-size: 15px;
}

ul.a{
	list-style-type: circle;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 10px;
}

ul.b{
	list-style-type: numbers;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 10px;
}

ul li{
	padding-top: 10px;
}

div.week{
	padding: 10px;
	border: 2px dashed orangered;
	font-size: 15px;
}

div.fab h1{
	font-size: 40px;
}

.refle em{
	font-size: 15px;
}

div.rules{
	padding: 10px;
	border: 2px dashed orangered;
}

.game{
	height: 50%;
	border-radius: 100%;
	background-color: rgba(255, 0, 0, 0.1);
	width: 400px;
	margin: 0 auto;
}

@media screen and (max-width: 650px) {

	.game{
		border-radius: 100%;
		background-color: rgba(255, 0, 0, 0.1);
		width: 100%;
		height: 100%;
	}

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

div .caja{
	padding: 10px;
	padding-left: 30px;
	border: 2px solid orangered;
	background-color: rgba(255, 83, 73, 0.05);
	font-size: 12px;
	line-height: 18px;
	border-radius: 5px;
}

div .caja p{
	padding-left: 60px;

}

.ethic-taulaveritat {
	width: 50%;
	float: right;
}

.ethic-text {
	float: left;
}

.bucle_img_intervention4{
	align-items: center;
	text-align: center;
	margin: auto;
	color: white;
}


.bucle_img_intervention4 img{
	vertical-align: middle;
}

.bucle_img_intervention4 a{

	text-decoration: none;
}

.bucle_img_intervention4 a:hover{
	text-decoration: none;
	background-color: white;
	transition: none;
	color: inherit;
}


.ejemplo{
	display: flex;
}

.img_intervention{
	align-items: center;
	text-align: center;
  position: relative;
	width: 30%;
}

.ejemplo a:hover{
	text-decoration: none;
	background-color: white;
	transition: none;
	color: inherit;
}

.centrar_websitefinal {
	text-align: center;
}
